<!DOCTYPE html>
<HTML>
<HEAD>
<title>How to HTML</title>
<style>
body {background-color:#ACD1AF;}
h1   {color:#666666;}
p    {color:#Afeeee;}
</style>

</HEAD>
<body>
<center>
<div style="border:5px inset #Afeeee; text-allign:center; width:70%; border-radius:15px;">

<H1>How to make a HTML website<br>Part 2</H1>
</div>

<h2>Now that  you have everything ready its time to start putting code</h4>
<h3>Step 2<br>Open Required tools</h2>

<p>First go to <b>file explore</b> once it opens go to the folder with the .html file. Once your their right click on it then go  down to <b>open with</b> click your choice of browser (recommend chrome) after you open the broswer it should be blank. Now go back to the .html file right click again go to open with go to <b>choose another app</b>. Then click more apps find NOTEPAD and select it. Now your ready to start coding</p>

<H4>Now look at the picture below and type the code the code</H4> 
<img src="/images/Screenshot_20221025_101103.png"  length="401" width="427">
<h4>Once that is written down do CTRL-S that should save the code</h4>
<H3>Now down bellow are Basic Code Tags and examples on how to use them</3>
<br><img src="/images/list.png" length="250" width="480">
